streamlit
pandas
matplotlib
plotly
Pillow
lasio
streamlit-aggrid

##before breaking feb 2026 below
#pip 
#matplotlib
#plotly
#pandas
#lasio

#streamlit
#Pillow
#streamlit-aggrid
#datetime
##streamlit


####even older below

#pip == 22.1.2
#matplotlib == 3.5.2
#plotly == 5.8.0
#pandas == 1.4.3
#lasio

#streamlit==1.4.0
#Pillow
#streamlit-aggrid
#streamlit
